################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Backend/Api/FutDrawApi/.vs/FutDrawApi/CopilotIndices/17.13.444.19527
/Backend/Api/FutDrawApi/.vs/FutDrawApi/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/Backend/Api/FutDrawApi/.vs/FutDrawApi/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/Backend/Api/FutDrawApi/.vs/FutDrawApi/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/Backend/Api/FutDrawApi/.vs/FutDrawApi/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
